@mixin input-properties {
    width: 500px;
    background-color: #445461;
    margin-bottom: 12px;
    border: 0px;
}

@mixin margin-zero {
    margin-left: 0;
    margin-right: 0;
}

@mixin background-cover-center {
    background-size: cover;
    background-position: center;
}

@mixin list-style {
    list-style: none;
    text-decoration: none;
}

@mixin input-focus {
    background-color: $kolor-input-focus;
    border: $kolor-czarny;
    color: $kolor-czarny;
    padding-left: 10px;
}
