//kolory:
$kolor-zielony: #1ac056;
$kolor-szary: #f9fcfe;
$ciemny-kolor: #291f1a;
$kolor-bialy: white;
$kolor-czarny: black;
$kolor-input-focus: #d1e4f5;
$glowny-kolor-tla: #213b50;


//wymiary:
$padding-bottom-sekcje: 50px;
$font-size-p-h2: 28px;