body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

* {
    box-sizing: border-box;
}

span {
    color: #1ac056;
}

nav#menu {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

#menu {
    text-align: right;
    background: white;
}


#menu .menu-item {
    display: inline-block;
    padding: 10px 20px;
    list-style: none;
    text-decoration: none;
}

#menu .menu-item a {
    text-decoration: none;
    color: #1ac056;
}

#menu .menu-item a:hover {
    color: #291f1a;
}

header {
    height: 100vh;
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 50px;
}

p#pInHeader {
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    font-size: 28px;
}

h2 {
    color: black;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    margin: 50px;
}

figure.zdjecie {
    float: left;
    margin-left: 250px;
    margin-right: 180px;
    margin-bottom: 50px;
}

section.omnie {
    background-color: #f9fcfe;
    overflow: auto;
}

div.omnie {
    margin-right: 200px;
}

section.umiejetnosci {
    clear: both;
    background-color: white;
    margin-bottom: 50px;
}

.umiejetnosci-item {
    display: inline-block;
    padding: 10px 20px;
    list-style: none;
}

i#ikona-umiejetnosci {
    text-align: center;
    font-size: 67px;
}

.umiejetnosci-item-text {
    display: inline-block;
    padding: 10px 20px;
    list-style: none;
}

div.mojeumiejetnosci {
    display: flex;
    justify-content: center;
}

figure.figmiejetnosci {
    margin-left: 90px;
    margin-right: 90px;
    /*    margin-bottom: 50px;*/
}

figcaption {
    text-align: center;
    margin-top: 10px;
}

section.portfolio {
    background-color: #f9fcfe;
    padding: 100px;
    padding-top: 10px;
    overflow: auto;
    padding-bottom: 50px;
}


div.portfolio-item {
    width: 33%;
    height: 400px;
    display: inline-block;
    float: left;
    position: relative;
}

/*
div.portfolio-item:hover {
    opacity: 0.6;
}
*/

div#portfolio1 {
    background-image: url(../img/portfolio1.jpg);
    background-size: cover;
    background-position: center;
}

div#portfolio2 {
    background-image: url(../img/portfolio2.jpg);
    background-size: cover;
    background-position: center;
}

div#portfolio3 {
    background-image: url(../img/portfolio3.jpg);
    background-size: cover;
    background-position: center;
}

.textramka {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(42, 61, 79, 0.8);
    opacity: 0;
    transition: all 0.3s linear;
    font-size: 18px;
    text-align: center;
    /*
    display: flex;
    align-items: center;
    flex-direction: column;
*/
}

.textramka:hover {
    opacity: 1;
    color: white;
    padding: 10px;
    text-align: center;
}

p#ramkatytul {
    font-size: 28px;

}

p#ramkatytul2 {
    font-weight: 700;

}

.fa-link {
    font-size: 49px;
    color: #1ac056;
}

/*
.portfolio-item:hover .textramka {
    opacity: 1;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 5px;
}
*/

footer {
    clear: both;
    background-color: #213b50;
    overflow: auto;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

div.kontakt {
    display: inline-block;
}

h2.KontaktImie {
    color: white;
    font-size: 28px;
    font-weight: 400;
    text-align: left;
    margin-left: 100px;
    margin-bottom: 50px;
}

p.adres {
    color: white;
    margin-left: 100px;
    margin-bottom: 30px;
}

.adres a {
    text-decoration: none;
    color: #1ac056;
}

.adres a:hover {
    color: white;
}

ul.ikony {
    margin-left: 55px;
}

li#stopka {
    display: inline-block;
    padding: 5px;
    list-style: none;
    text-decoration: none;
}

a#ikonastopka {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 1px solid white;
    text-align: center;
    font-size: 25px;
    color: white;
}

a#ikonastopka:hover {
    background-color: white;
    color: #213b50;
}

div.formularz {
    display: inline-block;
    text-align: right;
    margin-right: 140px;
    margin-top: 60px;
}

input[type="text"],
input[type="email"] {
    margin-bottom: 5px;
    width: 500px;
    background-color: #445461;
    height: 35px;
    margin-bottom: 12px;
    border: 0px;
    color: white;
}

input:focus[type="text"],
input:focus[type="email"] {
    background-color: #d1e4f5;
    color: black;
}

textarea {
    width: 500px;
    height: 55px;
    background-color: #445461;
    border: 0px;
    margin-bottom: 12px;
}

textarea:focus {
    background-color: #d1e4f5;
    border: black;
    color: black;
}

input[type="submit"] {
    background-color: #1ac056;
    width: 120px;
    height: 30px;
    color: white;
    border: 0px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

::placeholder {
    color: white;
    padding-left: 5px;
    padding-top: 5px;
    font-family: 'Lato', sans-serif;
}
